     <script type='text/javascript'>
      $(function() {
       
  Dashing.widget_base_dimensions = [305, 165]
  Dashing.numColumns = 6
      });
      </script>    
<div class="gridster">
<ul>


<li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
       <div data-id="production-servers" data-view="ProgressBars" style="background-color:#2c3e50;"></div>
    </li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="bravo" data-view="Hotness" data-title="bravo" data-cool="0" data-warm="3"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="alpha" data-view="Hotness" data-title="alpha" data-cool="0" data-warm="50"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="prod-disk" data-view="ProgressBars" style="background-color:#2c3e50;"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="charlie" data-view="Hotness" data-title="charlie" data-cool="0" data-warm="3"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="hotel" data-view="Hotness" data-title="BG-GROUP" data-cool="0" data-warm="3"></div>
</li>

 <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="internal-cpu" data-view="ProgressBars" data-title="INTERNAL - CPU %" style="background-color:#2c3e50;"></div>
    </li> 

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="echo" data-view="Hotness" data-title="echo" data-cool="0" data-warm="3"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="delta" data-view="Hotness" data-title=" BP D & C " data-cool="0" data-warm="3"></div>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="foxtrotspm" data-view="Hotness" data-title="foxtrot" data-cool="0" data-warm="3"></div>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="alpha" data-view="Hotness" data-title="OTHER" data-cool="0" data-warm="3"></div>
</li>

<li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="int-disk" data-view="ProgressBars" style="background-color:#2c3e50;"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="charlie" data-view="Hotness" data-title="A N OTHER" data-cool="0" data-warm="3"></div>
</li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="november" data-view="Hotness" data-title="REPSOL" data-cool="0" data-warm="3"></div>
</li>

<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="LBAL-TCP" data-view="ProgressBars1" data-title="LBAL-TCP" style="background-color:#2c3e50;"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="oscar" data-view="Hotness" data-title="oscar" data-cool="0" data-warm="3"></div>
</li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="romeo" data-view="Hotness" data-title="TULLOW" data-cool="0" data-warm="3"></div>
</li>

</ul>

</div>

